{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Hospital Management System</title>
    <meta charset="utf-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>


    <!-- Custom Theme files -->
    <link href="{% static 'styles/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'styles/style.css' %}" type="text/css" rel="stylesheet" media="all">

    <!-- font-awesome icons -->
    <link href="{% static 'styles/fontawesome-all.min.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->


	<link href="{% static 'styles/minimal-slider.css' %}" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static 'styles/flexslider.css' %}" type="text/css" media="screen" property="" />

    <!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- //online-fonts -->

</head>
<body>


    {% include 'navbar.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}

</body>
</html>
