
{% extends 'main.html' %}

{% block content %}

    {% load static %}

 <!-- main image slider container -->
        <div class="inner-banner">
         </div> 
    <!-- end of main image slider container -->
	<!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
	<!--Gallery-->
	<section class="gallery  py-lg-5">
			<div class="container py-4">
			 <div class="text-center wthree-title pb-sm-5 pb-3">
				<h3 class="w3l-sub">Gallery</h3>
				<h4 class="sub-title py-3">Donec consequat sapien ut leo cursus rhoncus.</h4>
			</div>
			<div class="row agile_gallery_grids w3-agile demo py-lg-3">
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g1.jpg' %}">
						<img src="{% static 'images/g1.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g2.jpg' %}">
						<img src="{% static 'images/g2.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g3.jpg' %}">
						<img src="{% static 'images/g3.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g4.jpg' %}">
						<img src="{% static 'images/g4.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana" href="{% static 'images/g3.jpg' %}g5">
						<img src="{% static 'images/g5.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g6.jpg' %}">
						<img src="{% static 'images/g6.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g7.jpg' %}">
						<img src="{% static 'images/g7.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g8.jpg' %}">
						<img src="{% static 'images/g8.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="{% static 'images/g9.jpg' %}">
						<img src="{% static 'images/g9.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//Gallery-->

{% endblock content %}
